/* You can add global styles to this file, and also import other style files */
body {
	padding-top: 5rem;
}

.starter-template {
	padding: 3rem 1.5rem;
	text-align: center;
}

.ng-valid[required], .ng-valid.required {
	border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form) {
	border-left: 5px solid #a94442; /* red */
}