/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.mat-header-cell {
    font-size: inherit;
}

.mat-form-field {
    width: 100%;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #007bff !important;
}

.mat-ripple-element {
    background: rgba(27, 142, 241, .4) !important;
}

.mat-card-header-text{
    margin: 0px !important;
}



