<mat-card>
  <mat-card-header>
    <h1>Welcome To Mean Stack</h1>
  </mat-card-header>
  <mat-card-content>
    <ul>
      <li><b>Author:</b> <a href="https://github.com/mdshohelrana" target="_blank">Shohel Rana</a></li>
      <li><b>GitHub:</b> <a href="https://github.com/mdshohelrana/mean-stack" target="_blank">Project Repository</a></li>
      <li><b>This project uses the MEAN stack:</b></li>
      <ul>
        <li><a href="http://www.mongoosejs.com" target="_blank"><b>M</b>ongoose.js</a> (<a href="https://www.mongodb.com" target="_blank">MongoDB</a>)</li>
        <li><a href="http://www.expressjs.com" target="_blank"><b>E</b>xpress.js</a></li>
        <li><a href="https://www.angular.io" target="_blank"><b>A</b>ngular 6</a></li>
        <li><a href="https://www.nodejs.org" target="_blank"><b>N</b>ode.js</a></li>
      </ul>
      <li><b>Other tools and technologies used:</b></li>
      <ul>
        <li><a href="https://cli.angular.io" target="_blank">Angular CLI</a></li>
        <li><a href="http://www.getbootstrap.com" target="_blank">Bootstrap4</a></li>
        <li><a href="https://material.angular.io" target="_blank">Angular Material</a></li>        
        <li><a href="http://www.fontawesome.io" target="_blank">Font Awesome</a></li>
        <li><a href="https://github.com/PointInside/ng2-toastr" target="_blank">Toastr</a></li>        
        <li><a href="https://jwt.io" target="_blank">JSON Web Token</a></li>
        <li><a href="https://github.com/auth0/angular2-jwt/tree/v1.0" target="_blank">Angular JWT</a></li>
        <li><a href="https://github.com/dcodeIO/bcrypt.js" target="_blank">Bcrypt.js</a></li>
      </ul>
    </ul>
  </mat-card-content>
</mat-card>
