<h1>Employee Entry / Edit</h1>
<hr />
<form>
	<div class="row">
		<div class="col-md-6">
			<div class="form-group row">
				<label for="inputEmail3" class="col-md-4 col-form-label">First
					Name: </label>
				<div class="col-md-8">
					<input type="text" class="form-control" id="inputEmail3"
						placeholder="First Name">
				</div>
			</div>
			<div class="form-group row">
				<label for="inputPassword3" class="col-md-4 col-form-label">Last
					Name: </label>
				<div class="col-md-8">
					<input type="text" class="form-control" id="inputPassword3"
						placeholder="Last Name">
				</div>
			</div>
			<div class="form-group row">
				<label for="inputPassword3" class="col-md-4 col-form-label">Full
					Name: </label>
				<div class="col-md-8">
					<input type="text" class="form-control" id="inputPassword3"
						placeholder="Full Name">
				</div>
			</div>
			<div class="form-group row">
				<label for="inputPassword3" class="col-md-4 col-form-label">Title:
				</label>
				<div class="col-md-8">
					<input type="text" class="form-control" id="inputPassword3"
						placeholder="Title">
				</div>
			</div>
			<div class="form-group row">
				<label for="inputPassword3" class="col-md-4 col-form-label">Date
					of birth: </label>
				<div class="col-md-8">
					<input type="text" class="form-control" id="inputPassword3"
						placeholder="Date of birth">
				</div>
			</div>
			<div class="form-group row">
				<label for="inputEmail3" class="col-md-4 col-form-label">Address: </label>
				<div class="col-md-8">
					<textarea type="text" class="form-control" id="inputEmail3"
						placeholder="Address"></textarea>
				</div>
			</div>
			<div class="form-group row">
				<label for="inputPassword3" class="col-md-4 col-form-label">Bio: </label>
				<div class="col-md-8">
					<textarea type="text" class="form-control" id="inputEmail3"
						placeholder="Bio"></textarea>
				</div>
			</div>
			<div class="form-group row">
				<div class="offset-md-4 col-md-8 ">
					<div class="btn-group" role="group" aria-label="Basic example">
						<button type="button" class="btn btn-primary">Save</button>
					</div>
					<div class="btn-group" role="group" aria-label="Basic example">
						<button type="button" class="btn btn-danger">Reset</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>