<h1>Employee Entry / Edit</h1>
<hr />
<form #employeeForm="ngForm">
	<div class="row">
		<div class="col-md-6">
			<div class="form-group row">
				<label for="inputEmail3" class="col-md-4 col-form-label">First
					Name: </label>
				<div class="col-md-8">
					<input type="text" class="form-control" name="firstName"
						placeholder="First Name" required [(ngModel)]="model.firstName">
				</div>
			</div>
			<div class="form-group row">
				<label for="inputPassword3" class="col-md-4 col-form-label">Last
					Name: </label>
				<div class="col-md-8">
					<input type="text" class="form-control" name="lastName"
						placeholder="Last Name" required [(ngModel)]="model.lastName">
				</div>
			</div>
			<div class="form-group row">
				<label for="inputPassword3" class="col-md-4 col-form-label">Full
					Name: </label>
				<div class="col-md-8">
					<input type="text" class="form-control" name="fullName"
						placeholder="Full Name" disabled="disabled" required [(ngModel)]="model.fullName">
				</div>
			</div>
			<div class="form-group row">
				<label for="inputPassword3" class="col-md-4 col-form-label">Title:
				</label>
				<div class="col-md-8">
					<select class="form-control" required [(ngModel)]="model.title"
						name="title">						
						<option *ngFor="let tit of titleList" [value]="tit.value">{{tit.text}}</option>
					</select>
				</div>
			</div>
			<div class="form-group row">
				<label for="inputPassword3" class="col-md-4 col-form-label">Date
					of birth: </label>
				<div class="col-md-8">
					<input type="date" class="form-control" name="dateOfBirth"
						placeholder="Date of birth" required [(ngModel)]="model.dateOfBirth">
				</div>
			</div>
			<div class="form-group row">
				<label for="inputEmail3" class="col-md-4 col-form-label">Address:
				</label>
				<div class="col-md-8">
					<textarea type="text" class="form-control" name="address"
						placeholder="Address" required [(ngModel)]="model.address"></textarea>
				</div>
			</div>
			<div class="form-group row">
				<label for="inputPassword3" class="col-md-4 col-form-label">Bio:
				</label>
				<div class="col-md-8">
					<textarea type="text" class="form-control" name="bio"
						placeholder="Bio" required [(ngModel)]="model.bio"></textarea>
				</div>
			</div>
			<div class="form-group row">
				<div class="offset-md-4 col-md-8 ">
					<div class="btn-group" role="group" aria-label="Basic example">
						<button type="submit" class="btn btn-primary" (click) = "addEmployee()"
							[disabled]="!employeeForm.form.valid">Save</button>
					</div>
					<div class="btn-group" role="group" aria-label="Basic example">
						<button type="button" class="btn btn-danger"
							(click)="resetEmployee(); employeeForm.reset()">Reset</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>