<h1>Employee List</h1>
<hr/>
<table class="table">
	<thead class="thead-inverse">
		<tr>
			<th>#</th>
			<th>Full Name</th>
			<th>Date Of Birth</th>
			<th>Address</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let emp of employeeList; let i = index">
			<th scope="row">{{i + 1}}</th>
			<td>{{emp.fullName}}</td>
			<td>{{emp.dateOfBirth | date: 'dd/MM/yyyy'}}</td>
			<td>{{emp.address}}</td>
			<td>
				<button class="btn btn-sm btn-warning" (click)="editEmployee(emp)"><i class="fa fa-pencil"></i> Edit</button>
				<button class="btn btn-sm btn-danger" (click)="deleteEmployee(emp)"><i class="fa fa-trash"></i> Delete</button>
			</td>
		</tr>
	</tbody>
</table>